<html>

<head>
    <%- include("./_partials/_header") %>

        <title>Welcome!</title>

        <link rel="stylesheet" href="/assets/css/pages/index/style.css">

</head>

<body class="display-flex-center">

    <h3>Loading...</h3>



    <%- include("./_partials/_footer") %>

        <script src="/assets/js/pages/index/script.js"></script>
</body>

</html>